<%- include('includes/header.ejs') %>
<%- include('includes/navigation.ejs') %>
<!-- start banner Area -->
<section class="about-banner relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					<%= bannerTitle %>
				</h1>
				<p class="text-white link-nav"><a href="/">Hotel </a> <span class="lnr lnr-arrow-right"></span>
					<a href="packages.html"><%= bannerTitle %></a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start hot-deal Area -->
<section class="hot-deal-area section-gap">
	<div class="container">
		<section class="ftco-section ftco-degree-bg">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-md-12">
							<div class="row justify-content-center">
								<div class="col-lg-12 active-hot-deal-carusel">
									<div class="single-carusel">
										<div class="thumb relative">
											<div class=""></div>
											<img class="img-fluid"
												src="http://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/12/2018/03/08140913/Pullman-Executive-Room-King-Bed-1.jpg"
												alt="">
										</div>
									</div>
									<div class="single-carusel">
										<div class="thumb relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/images/packages/hot-deal.jpg" alt="">
										</div>
										<div class="price-detials">
											<a href="#" class="price-btn">Starting From <span>$250</span></a>
										</div>
										<div class="details">
											<h4 class="text-white">Ancient Architecture</h4>
											<p class="text-white">
												Cairo, Egypt
											</p>
										</div>
									</div>
									<div class="single-carusel">
										<div class="thumb relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/images/packages/hot-deal.jpg" alt="">
										</div>
										<div class="price-detials">
											<a href="#" class="price-btn">Starting From <span>$250</span></a>
										</div>
										<div class="details">
											<h4 class="text-white">Ancient Architecture</h4>
											<p class="text-white">
												Cairo, Egypt
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-12 hotel-single mt-4 mb-5 ">
							<span>Our Best hotels &amp; Rooms</span>
							<h2 class="mt-1" style="font-weight:500"><%= hotel.name %></h2>
							<p class="rate mb-5 mt-3">
								<span class="pr-3"><i class="fa fa-map" style="color:#ffc106"></i> 291 South 21th
									Street, Suite 721
									New York NY 10016</span>
								<span class="star">
									<i class="fa fa-star" style="color:#ffc106"></i>
									<i class="fa fa-star" style="color:#ffc106"></i>
									<i class="fa fa-star" style="color:#ffc106"></i>
									<i class="fa fa-star" style="color:#ffc106"></i>
									<i class="fa fa-star" style="color:#ffc106"></i> 8 Rating</span>
							</p>
							<p>When she reached the first hills of the Italic Mountains, she had a last view back on
								the
								skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the
								subline
								of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then
								she
								continued her way.</p>
							<div class="d-md-flex mt-5 mb-5">
								<ul>
									<li>The Big Oxmox advised her not to do so</li>
									<li>When she reached the first hills of the Italic Mountains</li>
									<li>She had a last view back on the skyline of her hometown </li>
									<li>Bookmarksgrove, the headline of Alphabet </li>
								</ul>
								<ul class="ml-md-5">
									<li>Question ran over her cheek, then she continued</li>
									<li>Pityful a rethoric question ran</li>
									<li>Mountains, she had a last view back on the skyline</li>
									<li>Headline of Alphabet Village and the subline</li>
								</ul>
							</div>
							<p>When she reached the first hills of the Italic Mountains, she had a last view back on
								the
								skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the
								subline
								of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then
								she
								continued her way.</p>
						</div>
						<div class="col-md-12 hotel-single  mb-5 mt-4">
							<h4 class="mb-4">Take A Tour</h4>
							<div class="block-16">
								<figure>
									<img src="/images/hotel-6.jpg" alt="Image placeholder" class="img-fluid">
									<a href="https://vimeo.com/45830194" class="play-button popup-vimeo"><span
											class="icon-play"></span></a>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<section class="destinations-area bg-white">
						<div class="row">
							<div class="col-lg-12 mb-4">
								<div class="single-destinations">
									<div class="thumb">
										<img class="img-fluid" src="/images/packages/d2.jpg" alt="">
									</div>
									<div class="details">
										<h4>Holiday Sea beach Blue Ocean</h4>
										<p>
											United staes of America
										</p>
										<li class="d-flex justify-content-between align-items-center">
											<span>Rooms starting at </span>
											<span style="color:#2f89fc"> $40
												/night</span>
										</li>
										<ul class="package-list">
											<li class="d-flex justify-content-between align-items-center">
												<span>Far far away, behind the word mountains, far from the
													countries</span>
											</li>
											<li class="d-flex justify-content-between align-items-center">
												<span>Price per person</span>
												<a href="#" class="btn btn-sm btn-book">book now</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>
	</div>
</section>
</div>
</section>
<!-- End hot-deal Area -->

<%- include('includes/footer.ejs') %>